<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Empleado</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Editar Empleado</h1>
        <form action="{{ url_for('editar_empleado', id=empleado['_id']) }}" method="post">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ empleado['NombreEmpleado'] }}" required>
            </div>
            <div class="form-group">
                <label for="salario_hora">Salario por Hora:</label>
                <input type="number" step="0.01" class="form-control" id="salario_hora" name="salario_hora" value="{{ empleado['salario_hora'] }}" required>
            </div>
            <div class="form-group">
                <label for="horas_trabajadas">Horas Trabajadas:</label>
                <input type="number" class="form-control" id="horas_trabajadas" name="horas_trabajadas" value="{{ empleado['horas_trabajadas'] }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a href="{{ url_for('get_empleados') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <!-- Enlace a Bootstrap JS y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
