<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cargar CSV</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Cargar CSV</h1>
        <form action="/upload_csv" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Seleccionar archivo CSV:</label>
                <input type="file" class="form-control-file" id="file" name="file" accept=".csv" required>
            </div>
            <button type="submit" class="btn btn-primary">Cargar CSV</button>
            <a href="{{ url_for('get_empleados') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <!-- Enlace a Bootstrap JS y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
